@tailwind base;
@tailwind components;
@tailwind utilities;

.baseFlex {
  @apply flex items-center justify-center flex-wrap;
}

.baseVertFlex {
  @apply flex flex-col items-center justify-center flex-wrap;
}

.lightestGlassmorphic {
  @apply bg-pink-200 bg-opacity-10 backdrop-blur-sm backdrop-filter;
}

.lightGlassmorphic {
  @apply bg-pink-200 bg-opacity-20 backdrop-blur-sm backdrop-filter;
}

.heavyGlassmorphic {
  @apply bg-pink-100 bg-opacity-30 backdrop-blur-lg backdrop-filter;
}

@layer base {
  :root {
    --background: 327 73% 97%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 326 85% 90%;
    /* 215.4 16.3% 46.9%; */

    --popover: 327 73% 97%;
    --popover-foreground: 336 84% 17%;

    --card: 327 73% 97%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 330 81% 60%;
    /* 222.2 47.4% 11.2% */
    --primary-foreground: 210 40% 98%;

    --secondary: 327 87% 82%;
    /* 210 40% 96.1% */
    --secondary-foreground: 336 69% 30%;
    /* 222.2 47.4% 11.2% */

    --accent: 210 40% 96.1%;
    --accent-foreground: 336 84% 17%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

html,
body {
  color: hsl(327, 73%, 97%);
  /* make this (primary) foreground too? */
}

/* clerk modal styling */
.cl-internal-1i1clgr {
  align-items: center;
}