.desktopHeader {
  width: 100%;
  display: none;
}

@media (min-width: 1024px) {
  .desktopHeader {
    display: grid;
    gap: 1rem;
    padding: 0 1rem;
    grid-template-rows: 1fr;
    grid-template-columns:
      175px 1fr 48px 48px minmax(350px, 450px) 48px 48px 1fr 48px 48px;
    grid-template-areas:
      "logo . metronome tuner search explore create . theme authentication";
    align-items: center;
  }
}

@media (min-width: 1536px) {
  .desktopHeader {
    padding: 0 2rem;
  }
}

.leftGroup {
  grid-area: left;
}

.rightGroup {
  grid-area: right;
}

.logo {
  grid-area: logo;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover {
  filter: brightness(1.05);
}

.logo:active {
  filter: brightness(0.95);
}

.metronome {
  grid-area: metronome;
}

.tuner {
  grid-area: tuner;
}

.search {
  grid-area: search;
}

.explore {
  grid-area: explore;
}

.create {
  grid-area: create;
}

.theme {
  grid-area: theme;
}

.authentication {
  grid-area: authentication;
}